__pycache__/
*.py[cod]
*$py.class
log/
build/
install/
temp/
.vscode/
log.txt
.DS_Store
.cursor/
.cursorrules
*.pt
.env
test.txt
path.sh
scene_info.json
frames_*
__export__.py
skill/__init__.py
*.log

tmp/
test_performance
publish_camera_tf.py
tailscale/
target
stress_test
