[submodule "rcl_interfaces"]
	path = capabilities/lib/rcl_interfaces
	url = https://github.com/enkerewpo/rcl_interfaces
[submodule "common_interfaces"]
	path = capabilities/lib/common_interfaces
	url = https://github.com/enkerewpo/common_interfaces
[submodule "docs"]
	path = docs
	url = https://github.com/syswonder/robonix-book
