<?xml version="1.0" ?>
<robot name="ranger">
    <!-- <link name="base_footprint" />
    
    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.6 0.4 0.2"/>
            </geometry>
            <material name="blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.6 0.4 0.2"/>
            </geometry>
        </collision>
    </link>
    
    <link name="base_laser_link">
        <visual>
            <geometry>
                <cylinder radius="0.05" length="0.1"/>
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
        </visual>
    </link>
    
    <link name="laser_tilt_link">
        <visual>
            <geometry>
                <cylinder radius="0.03" length="0.08"/>
            </geometry>
            <material name="green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
    </link>
    
    <joint name="base_footprint_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.1" rpy="0 0 0"/>
    </joint>
    
    <joint name="base_laser_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_laser_link"/>
        <origin xyz="0.3 0 0.15" rpy="0 0 0"/>
    </joint>
    
    <joint name="laser_tilt_joint" type="fixed">
        <parent link="base_link"/>
        <child link="laser_tilt_link"/>
        <origin xyz="0.2 0 0.2" rpy="0 0.3 0"/>
    </joint> -->
    
    <webots>
        <plugin type="swd.sim_webots_driver.MyRobotDriver" />
    </webots>
</robot>